@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgb(84, 77, 77);

 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    width: 70%;

    font-family: 'Quicksand', sans-serif;

    background-color: white;

    padding: 100px;

    margin-top: 500px;

}

main h1 {
    font-weight: 700;
    margin-bottom: 50px;

   

    text-align: center;


}

main p {
    font-style: italic;

    line-height: 30px;
}

main h3 {
    margin-top: 100px;
    font-size: 20px;
}


@media (max-width: 400px) {
    body {
        height: 100vh;
    }

    main {
        width: 90%;

        margin-top: 2300px;
    }

    main h1 {
        font-size: 27px;

        width: 290px;
    }

    main p {
        width: 250px;

        text-align: center;

    }

    main h3 {
        width: 290px;
    }
}

@media (max-width: 500px) {
    body {
        height: 100vh;
    }

    main {
        width: 90%;

        margin-top: 2350px;
    }

    main h1 {
        font-size: 27px;

        width: 290px;
    }

    main p {
        width: 250px;

        text-align: center;

        font-size: 18px;

    }

    main h3 {
        width: 290px;
    }
}